.center {
	margin-left:auto;
	margin-right:auto;
}

#main-wrapper {
	width:55%;
}

#navigation {
	width:55%
}

.table-wrapper {
	table {
		width:100%
	}
}

#block-system-main-menu {
	.assets_main_menu_link {
		margin-right: 20px;
	}
}

.service-title {
	height:15px;
}