.center {
	margin-left:auto;
	margin-right:auto;
}

#main-wrapper {
	width:55%;
}

#navigation {
	width:55%
}

.table-wrapper {
	table {
		width:100%
	}
}

#block-system-main-menu {
	.assets_main_menu_link {
		margin-right: 20px;
	}
}

.service-title {
	height:15px;
}

.malmo-form {
	.form-actions {
    background-color: #FFFFFF;
    border-top: 0px solid #E5E5E5;
  }
}

.view-display-id-page_1 {
	td {
		vertical-align: middle;
	}
}

#map_wrapper {
	width: 100%;
	height: 600px;
	position:relative;

	iframe {
		position: absolute; 
		width: 100%;
		height: 100%;
	}	
}


/********************* Seasonal times ****************/

#poi-node-form {
	
	
	/* Month field */
	#edit-field-spring-start-month-und, #edit-field-spring-end-month-und, 
	#edit-field-autumn-start-month-und, #edit-field-autumn-end-month-und {
		float:left;
		margin-right: 2%;
		width: 25%
	}
	
	/* Day fields */
	#edit-field-spring-start-day-und, #edit-field-spring-end-day-und, 
	#edit-field-autumn-start-day-und, #edit-field-autumn-end-day-und {
		float:left;
		width: 15%;
		margin-right: 48%;
	}


	/* Month/day labels */
	label[for=edit-field-spring-start-month-und], label[for=edit-field-spring-end-month-und],
	label[for=edit-field-autumn-start-month-und], label[for=edit-field-autumn-end-month-und] {
		float:left;
		width: 10%;
		margin-top: 5px;
	}

	/* Hour fields */
	#edit-field-autumn-start-hour-und, #edit-field-autumn-end-hour-und,
	#edit-field-spring-start-hour-und, #edit-field-spring-end-hour-und {
		float:left;
		margin-right: 2%;
		width:37%;
	}

	/* Minute fields */
	#edit-field-autumn-start-minute-und, #edit-field-autumn-end-minute-und,
	#edit-field-spring-start-minute-und, #edit-field-spring-end-minute-und {
		float:left;
		width: 31%;
	}

	/* Hour/minute labels */
	label[for=edit-field-spring-start-hour-und], label[for=edit-field-spring-end-hour-und],
	label[for=edit-field-autumn-start-hour-und], label[for=edit-field-autumn-end-hour-und] {
		float:left;
		width: 30%;
		margin-top: 5px;
	}

	/* Placing dates and times side-by-side */
	#node_poi_form_group_spring_times, #node_poi_form_group_autumn_times {
		float:right;
		width: 30%;
	}

	#node_poi_form_group_spring_dates, #node_poi_form_group_autumn_dates {
		float:left;
		width: 70%;
	}


	/* Don't show coordinate header */
	#edit-field-geolocation-und-0 legend {
		display:none;
	}

	/* Don't display date/time labels */
	#node_poi_form_group_spring_dates label, #node_poi_form_group_spring_times label,
	#node_poi_form_group_autumn_dates label, #node_poi_form_group_autumn_times label {
		/*display:none;*/
	}

	#node_poi_form_group_autumn_dates, #node_poi_form_group_autumn_times {
		margin-bottom: 30px;
	}

	#node_poi_form_group_spring_dates, #node_poi_form_group_spring_times {
		margin-top: 30px;
		margin-bottom: 50px;
	}
} /* End #poi-node-form */