@media (max-width: 34em) {
  #forum thead .forum-topics, #forum thead .forum-posts {
    display: none;
  }
  #forum tbody .forum-number-topics, #forum tbody .forum-number-posts {
    display: none;
  }

  #forum-topic-list thead .views-field-comment-count {
    display: none;
  }
  #forum-topic-list tbody .views-field-number-comment-count {
    display: none;
  }
}
@media (max-width: 28em) {
  #forum thead .forum-last-post {
    display: none;
  }
  #forum tbody .forum-last-reply {
    display: none;
  }

  #forum-topic-list thead .views-field-last-updated {
    display: none;
  }
  #forum-topic-list tbody .views-field-number-last-updated {
    display: none;
  }
}
